/* Applica il font a tutta la pagina */
body {
    font-family: 'Roboto Mono', monospace;
}

/* Impostazioni per il titolo */
h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    color: #333;
    text-align: center;
}

/* Impostazioni per la mappa */
#map {
    height: 800px;
    width: 100%;
}

/* Modifica il font e la dimensione del testo nei popup */
.leaflet-popup-content {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    color: #555;
}

/* Personalizza l'aspetto dei link nei popup */
.leaflet-popup-content a {
    font-size: 12px;
    color: #00ABDC;
    text-decoration: none;
}

/* Aggiungi effetti hover sui link nei popup */
.leaflet-popup-content a:hover {
    text-decoration: underline;
}

/* Cambia il font per il contenuto dell'intestazione della mappa */
.leaflet-control-attribution {
    font-family: 'Roboto Mono', monospace;
}

/* Personalizza le icone dei marker */
.custom-icon div {
    background-color: #00ABDC;
    color: white;
    font-size: 12px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;  /* Testo in grassetto */
}
/* Layout principale con flexbox */
.container {
    display: flex;
    flex-direction: row;
    height: 800px; /* Imposta un'altezza adeguata */
    width: 100%;
}

/* Area della mappa - 80% della larghezza */
#map-container {
    flex: 4; /* Occupa il 80% */
    height: 100%;
}

/* Impostazioni per la mappa */
#map {
    height: 100%;
    width: 100%;
}

/* Area della lista - 20% della larghezza */
#list-container {
    flex: 1; /* Occupa il 20% */
    overflow-y: auto; /* Permette lo scroll se la lista è lunga */
    padding: 10px;
    background: #f8f8f8; /* Leggera differenziazione visiva */
    border-left: 2px solid #ddd;
}

/* Lista dei computer */
#computerList {
    padding-left: 0;
    list-style-type: none;
}

/* Lista numerata dei computer */
#computerList li {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

